.spacer{
    margin-top: 80px;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black !important;
    z-index: 100;
    position: fixed;
    top: -1px;
}

h1, h2, h3, h4 {
    font-family: 'Courier New', Courier, monospace;
}

.logo{
    min-height: auto;
    width: 165px;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 4px;
    transition: transform 0.3s ease;
}

.logo:hover{
    transform: scale(1.15);
}

.navbar ul{
    list-style: none;
}
.navbar ul li{
    cursor: pointer;
    display: inline-block;
}
.Location_Icon{
    min-height: auto;
    width: 50px;
    margin: 0px 10px;
}
.Profile_Icon{
    min-height: auto;
    width: 50px;
    margin: 0px 10px;
}
.Cart_Icon{
    min-height: auto;
    width: 50px;
    margin: 0px 10px;
}
.text{
    color: white;
    /* font-family: "ADLaM Display", system-ui; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 5px;
    text-align: center;
    font-weight: bolder;
}

.icon-text a{
    display: flex;
    align-items: center; 
    text-decoration: none;
    transition: transform 0.3s ease;
}


.icon-text a:hover {
    transform: scale(1.2); /* Scale up the image on hover */
}