@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

/*Below is for the navbar */

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;

}

h1, h2, h3, h4 {
    color: white;
}

.logo{
    min-height: auto;
    width: 165px;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 4px;
    transition: transform 0.3s ease;
}

.logo:hover{
    transform: scale(1.15);
}

.navbar ul{
    list-style: none;
}
.navbar ul li{
    cursor: pointer;
    display: inline-block;
}
.Location_Icon{
    min-height: auto;
    width: 50px;
    margin: 0px 10px;
}
.Profile_Icon{
    min-height: auto;
    width: 50px;
    margin: 0px 10px;
}
.Cart_Icon{
    min-height: auto;
    width: 50px;
    margin: 0px 10px;
}
.text{
    color: white;
    /* font-family: "ADLaM Display", system-ui; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 5px;
    text-align: center;
    font-weight: bolder;
}

.icon-text a{
    display: flex;
    align-items: center; 
    text-decoration: none;
    transition: transform 0.3s ease;
}


.icon-text a:hover {
    transform: scale(1.2); /* Scale up the image on hover */
}

/*Below is for the category selection bar (categorybar) */

.categorybar ul {
    overflow-x: auto;
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.categorybar ul::-webkit-scrollbar {
    display: none; 
}

.categorybar ul li{
    cursor: pointer;
    display: inline-block;
}

.category-icon {
    flex-direction: column;
    height: 150px;
    width: 200px;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    transition: transform 0.3s ease;
}
  
.category-icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.category-icon:hover{
    transform: scale(1.15);
}

.category-text {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 25px;
}

.Category-Images{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

/*Below is for the scrolling through indiviual items (categoryscroll) */

.categoryscroll{
    overflow-x: auto;
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.categoryscroll ul::-webkit-scrollbar {
    display: none; 
}

.categoryscroll-sections {
    display: flex;
    align-items: flex-start;
    height: 150px;
    width: 95vw;
    border: 2px solid #000;
    border-radius: 15px;
    transition: transform 0.3s ease;
    margin: 10px auto;
    padding: 20px;
}

.categoryscroll-images{
    object-fit: contain;
    height: 100px;
    width: 100px;
    margin-right: 40px;
}

.categoryscroll-text{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}